{% extends 'main/base.html' %}

{% block title%}add Blog{% endblock %}
{% block body %}

<div class="col mb-2">
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
            <label for="textFormControlInput1" class="form-label">Title</label>
            <input type="text" class="form-control" id="textFormControlInput1" placeholder="Enter your blog's title" name="title">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Write your contant</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="contant"></textarea>
        </div>
        <div>
            <label for="exampleFormControlInput1" class="form-label">do you want to allow us published?</label>

            <select class="mb-3 form-select" aria-label="Default select example" name="is_published">
                <option value="False">not published</option>
                <option value="True" selected >published</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Choose Image</label>
            <input type="file" name="image" class="form-control" />
        </div>
        <div class="mb-3">
            <input type="submit" value="Create blog" class="btn btn-dark" />
        </div>
    </form>
</div>

{% endblock %}