{% extends 'main/base.html' %}

{% block title%}view Blog{% endblock %}
{% block body %}
<div class="row mb-2">
    {% for blog in blogs %}
    <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <h3 class="mb-0">{{ blog.title }}</h3>
                <div class="mb-1 text-body-secondary">{{ blog.publish_date }}</div>
                <div class="container" style="padding-top: 6rem;" >
                    <a style="width: 11rem;" href="{% url 'main:read_blog' blog.id %}" class="p-2 stretched-link btn btn-dark">Continue reading</a>
                </div>
            </div>
            <div class="col-auto d-none d-lg-block">
                <img width="200" height="250" class="bd-placeholder-img" src="{{ blog.image.url }}" alt="">
                <!-- <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> -->
            </div>
        
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
